.toggle-button {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
    background-color: #E0E0E0;
    border: 2px solid #E0E0E0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.toggle-button:hover {
    background-color: #6BAF92;
    color: #333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.toggle-button:active {
    background-color: #E0E0E0;
    color:#333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}