.weather-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

#weather-values {
    font-size: calc(0.5rem + 1vw);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#checkbox-input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #E0E0E0;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked {
    background-color: #6BAF92;
    border: 2px solid #6BAF92;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 20px; 
    height: 20px;
    padding: 0; 
    box-sizing: border-box;
}

input[type="checkbox"]:checked::after {
    content: '✓';
    background-color: #6BAF92;
    color: white;
    font-size: 16px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center; 
    line-height: 20px; 
    border-radius: 4px;
}