* {
    box-sizing: border-box;
}
.container-header-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-destinations {
    font-size: calc(1.4rem + 1vw);
    color: #4A4A4A;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

#link-home {
    font-size: 0.8rem;
    font-weight: bold;
    color: #4A4A4A;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

#link-home::before {
    content: "← ";
    margin-right: 3px; 
    text-decoration: none;
}

.buttons-destinations {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.destinations {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
    width: 95%;
}

.destination-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    background-color: #F5F5F5;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    box-sizing: border-box;
    max-width: 480px;
    color: #4A4A4A;
}

.destination-details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 0.3rem;
    justify-content: space-between;
}

.destination-name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.destination-name {
    font-size: 0.8rem;
    font-weight: bold;
    color: #4A4A4A;
}

.destination-description {
    font-size: 0.7rem;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.location-link {
    font-size: 1rem;
    color: #4A4A4A;
    margin-left: 0.5rem;
}

.destination-image {
    width: 150px;
    height: 150px;
    min-height: 150px;
    min-width: 150px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 0.5rem;
}

.weather-score {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    color: #F4F5EFff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.week-forecast {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.3rem;
    width: 100%;
}

.day-forecast {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #4A4A4A;
    font-size: 0.6rem;
    width: 100%;
}

.conditions {
    font-size: 1rem;
}

@media (min-width: 768px) {


    .destinations {
        width: 760px; 
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .destination-container {
        width: 365px;
        height: 350px;
        padding: 0.75rem;
    }

    .conditions {
        font-size: 1.5rem;
    }
}


@media (min-width: 1200px) {

    .destinations {
        width: 1300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .destination-container {
        width: 600px;
        max-width: 600px;
        padding: 1rem;
        height: 350px;
    }

    .destination-name {
        font-size: 1rem;
    }

    .destination-description {
        font-size: 0.9rem;
    }

    .day-forecast {
        font-size: 0.8rem;
    }

}
