.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
}

.home-container img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 40vh;
}

.home-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-header {
    font-size: calc(2rem + 1vw);
    color: #4A4A4A;
    line-height: 50px;
    margin-bottom: 0;
    text-align: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F7F3EA ;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    margin-top: 1rem;
}

.home-subheader {
    font-size: calc(0.8rem + 1vw);
    color: #4A4A4A;
    padding: 1rem;
    margin-bottom: 0;
}

.home-subheader2 {
    font-size: calc(0.8rem + 1vw);
    color: #4A4A4A;
    padding: 1rem;
    margin-top: 0;
}

@media (min-width: 768px) {

    .home-container {
        width: 100%;
        min-height: 80%;
        flex-direction: row;
    }

    .home-container img {
        width: 50%;
        min-height: 60vh;
        object-fit: cover;
        object-position: center;
    }

    .home-header {
        margin-bottom: 1rem;
    }

    .home-container-content {
        width: 50%;
        gap: 3rem;
    }

    .home-text {
        margin-top: 0;
        min-height: 40vh;
        padding: 0.5rem;
        justify-content: flex-start;
    }

}

