.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    max-width: 100%;
    color: #4A4A4A;
    background-color: #F7F3EA;
    border-bottom: 2px solid #E0DED6; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    gap: 1.2rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    font-size: calc(0.5rem + 1vw);
} 

@media (min-width: 768px) {

    .navbar-container {
        width: 760px;
        padding: 0;
        margin: 0 auto;
        position: unset;
        box-shadow: none;
    }

}

@media (min-width: 1200px) {
    .navbar-container {
        width: 1000px;
    }
}
